<%- include('includes/header.ejs') %>
   
	<div class="container">
		<%- include('includes/exito_registro.ejs') %>	
		<a  class="btn btn-primary" href="/Escribe/Escribe">Registrar Personal</a>

		<br>
		<br>
		<%- include('includes/tabla_personal.ejs') %>

	</div>

<%- include('includes/footer.ejs') %>
