<%- include('includes/header.ejs') %>

	<h1>Lab 15</h1>
	<div class="container">
		<ul>
			<li>
				<a href="/Escribe/Escribe">Registrar Personal</a>
			</li>
		</ul>	
		<br>
		<%- include('includes/tabla_personal.ejs') %>

	</div>
<%- include('includes/footer.ejs') %>
