<%- include('includes/header.ejs') %>

	<h1>Lab 15</h1>
	<div class="container">
		<ul>
			<li>
				<a href="/Escribe/Escribe">Registrar Personal</a>
			</li>
		</ul>	
		<br>
		<form action="Escribe" method="POST">
		<input type="text" name="write" class="form-control">
		<br>
		<input type="submit" name="enviar"  class="btn btn-primary" value="Registrar">
		</form>

	</div>
<%- include('includes/footer.ejs') %>